<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" id="WebApp_ID">
	<display-name>SchoolWebsite</display-name>
	<servlet>
		<description>
		</description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.Register</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentLogin</display-name>
		<servlet-name>StudentLogin</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.StudentLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AdminLogin</display-name>
		<servlet-name>AdminLogin</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.AdminLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStdPhone</display-name>
		<servlet-name>UpdateStdPhone</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.UpdateStdPhone</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogOut</display-name>
		<servlet-name>LogOut</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.LogOut</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StudentProfile</display-name>
		<servlet-name>StudentProfile</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.StudentProfile</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStdName</display-name>
		<servlet-name>UpdateStdName</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.UpdateStdName</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>UpdateStdClass</display-name>
		<servlet-name>UpdateStdClass</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.UpdateStdClass</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ResetStdPassword</display-name>
		<servlet-name>ResetStdPassword</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.ResetStdPassword</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>StdPasswordResetBeforeLogin</display-name>
		<servlet-name>StdPasswordResetBeforeLogin</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.StdPasswordResetBeforeLogin</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveStudent</display-name>
		<servlet-name>RemoveStudent</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.RemoveStudent</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>ViewAllStudents</display-name>
		<servlet-name>ViewAllStudents</servlet-name>
		<servlet-class>com.SchoolWebsite.Controller.ViewAllStudents</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/Register</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentLogin</servlet-name>
		<url-pattern>/StudentLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminLogin</servlet-name>
		<url-pattern>/AdminLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStdPhone</servlet-name>
		<url-pattern>/UpdateStdPhone</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogOut</servlet-name>
		<url-pattern>/LogOut</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentProfile</servlet-name>
		<url-pattern>/StudentProfile</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStdName</servlet-name>
		<url-pattern>/UpdateStdName</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStdClass</servlet-name>
		<url-pattern>/UpdateStdClass</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResetStdPassword</servlet-name>
		<url-pattern>/ResetStdPassword</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StdPasswordResetBeforeLogin</servlet-name>
		<url-pattern>/StdPasswordResetBeforeLogin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveStudent</servlet-name>
		<url-pattern>/RemoveStudent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewAllStudents</servlet-name>
		<url-pattern>/ViewAllStudents</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
